<h1>User Info</h1>
<table>
      <tr>
        <td>name</td> 
        <td>:</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>email</td> 
        <td>:</td>
        <td><%= @user.email %></td>
      </tr>
      
      </table>