.container
  .row
    .col-md-12
      %h2= @user.email
.container
  .row
    - @user.videos.each do |video|
      .col-md-3.thumb.video-thumb{ 'data-video-id': video.id }
        %video{:height => "200", :preload => "auto", :width => "200"}
          %source{:src => video.video_file.url, :type => "video/mp4"}